@import "../../node_modules/normalize.css/normalize.css"; 

* {
  box-sizing: border-box;
}

section {
  margin: auto;
  overflow: hidden;
}

#app {
  font-family: 'Questrial', sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #29163c;
  color: #ebdef0;
  padding: 20px 5%;
  z-index: 150;
  box-shadow: 0px 2px 4px #555555;
}

.site-header h1 {
  margin: 0px; 
  padding-right: 450px;
  font-size: 45px;
}

.main-nav .current {
  color: #ed3662;
  font-weight: bold;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 10px;
  margin: 0px;
}

.main-nav ul li {
  padding-right: 35px;
  font-size: 25px;
}

.main-nav ul li a {
  text-decoration: none;
  color: #EBDEF0; 
}

.main-nav ul li a:hover {
  color: #ed3662;
  font-weight: bold;
}

.credentials a {
  text-decoration: none;
  font-size: 25px;
  color: #ebdef0; 
}

.showcase {
  min-height: 400px;
  text-align: center;
  position: relative;
}

.showcase::after {
  content: "";
  background: url('../images/home_background.jpg') no-repeat -200px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.showcase h1 {
  color: #ed3662;
  margin-top: 200px;
  font-size: 55px;
  margin-bottom: 10px;
}

.billboard {
  color: #7c4789;
  background-color: #ebdef0;
  text-align: center;
  padding: 60px;
}

.billboard h2 {
  margin-top: 0;
}

.core-assist-container {
  display: flex;
  text-align: center;
}

.core-assist-container  .box {
  padding: 2.5% 5%;
  width: 70%;
}

.far, .fas {
  padding-top: 10px;
  font-size: 50px;
  color: #ed3662;
}

.booking-form-container {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 5px #555555;
  text-align: center;
  background-color: #7c4789;
}

.booking-form {
  padding-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.booking-form input {
  height: 50px;
  width: 250px;
  outline: none;
  padding: 10px;
  border: 1px solid #ddd;
}

.booking-form input:focus {
  height: 50px;
  width: 250px;
  outline:none;
  box-shadow: 0px 1px 3px #29163c;
  border: 1px solid #ccc;
}

.booking-form label {
  margin: 10px 0;
  position: relative;
  display: inline-block;
}
  
.booking-form span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
  color: #ebdef0;
  font-size: 18px;
}

button {
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid #55447e;
  text-shadow: 0 3px 1px #0b0713;
  background: #29163c;
  color: #ebdef0;
  padding: 10px 20px;
}
button:hover {
  border-color: #ed3662;
  color: #ed3662;
}

button:active {
  background: #513c75;
  outline: none;
}

button:focus {
  background: #513c75;
  outline: none;
}

.required:after { 
  content:" *"; 
  color: red;
}

.site-footer {
  font-size: 14px;
  text-align: center;
  padding: 10px 5%;
  background-color: #29163c;
  color: #ebdef0;
}

.main-content {
  position: relative;
  padding-top: 60px;
}

/* Media Queries */

@media(max-width: 768px) {
  .site-header,
  .main-nav,
  .main-nav li, 
  .core-assist-container .box {
    float: none;
    text-align: center;
    width: 100%;
    flex-wrap: nowrap;
  }

  .core-assist-container {
    display: block;
    text-align: center;
  }


}